@{
    ViewBag.Title = "داشبورد";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<div class="panel_items">
    <div class="item">
        <h4>پیام های خوانده نشده</h4>

        <table class="table table-bordered table-hover" id="messages">
            <thead>
                <tr>
                    <th>عنوان</th>
                    <th>ارسال کننده</th>
                    <th>تاریخ</th>
                    <th>مشاهده</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <div class="item">
        <h4>نظرات خوانده نشده</h4>

        <table class="table table-bordered table-hover" id="comments">
            <thead>
                <tr>
                    <th>عنوان</th>
                    <th>ارسال کننده</th>
                    <th>تاریخ</th>
                    <th>مشاهده</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(() => {
        $("#messages").DataTable({
            "lengthMenu": [3, 6, 12],
            "oLanguage": DataTableFA,
            ajax: {
                url: "Api/Message/GetUnreadMessages",
                dataSrc: ""
            },
            columns: [
                {
                    data: "title",
                    render: function (data, type, row) {
                        if (data.length > 30) return data.substr(0, 20) + "...";
                        else return data;
                    }
                },
                {
                    data: "email"
                },
                {
                    data: "time"
                },
                {
                    render: (data, type, message) => {
                        return "<a class='tableSeeButton' href='/Dashboard/Messages?id=" + message.id + "'></a>";
                    }
                }
            ],
            "order": [[2, "desc"]]
        });

        $("#comments").DataTable({
            "lengthMenu": [3, 6, 12],
            "oLanguage": DataTableFA,
            ajax: {
                url: "Api/Comment/GetUnreadComments",
                dataSrc: ""
            },
            columns: [
                {
                    data: "title",
                    render: function (data, type, row) {
                        if (data.length > 30) return data.substr(0, 30) + "...";
                        else return data;
                    }
                },
                {
                    data: "email"
                },
                {
                    data: "time"
                },
                {
                    data: "post_ID",
                    render: (data, type, comment) => {
                        return "<a class='tableSeeButton' href='/Posts/View/" + data + "?comment=" + comment.id + "'></a>";
                    }
                }
            ],
            "order": [[2, "desc"]]
        });
    });
</script>